* {
  border: 2px solid red;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.navigation {
  display:flex;
  flex-direction: column;
  background-color: antiquewhite;
}

button {
  height: 75px;
  margin-bottom: 10px;
  width: 100px;
}

.user-bookings-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 100px;
  width: 20%;
  height: 90%;
  background-color:blanchedalmond;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 100px;
  height: 90%;
  width: 80%;
  background-color:lightgoldenrodyellow;
}


