* {
  border: 2px solid red;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.navigation {
  display:flex;
  flex-direction: column;
  background-color: antiquewhite;
}

button {
  height: 75px;
  margin-bottom: 20px;
  width: 100px;
}

.user-bookings-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:space-between;
  width: 20%;
  height: 100%;
  background-color:blanchedalmond;
  overflow: scroll;
}

.user-total-spent{
  padding-bottom: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%;
  width: 80%;
  background-color:honeydew;
}

.main-view {
  margin-top: 5%;  
}

.booking-date-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 60%;
  margin-top: 20%;
}


