html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/background-body.png');
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Gill Sans', sans-serif;
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45%; 
}

.navigation {
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: left;
  opacity: .8;
}

.home-button, 
.past-bookings-button, 
.logout-button {
  height: 75px;
  width: 100px;
  margin-top: 15px;
}

.user-bookings-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:flex-start;
  width: 25%;
  height: 100%;
  overflow: scroll;
  background-image: url('../images/background-image.png');
  background-size:cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%;
  width: 80%;
}

form {
  background-color: lightgray;
  opacity: .9;
}

.main-view {
  display: flex;
  flex-direction: column;
}

.main-greeting {
  display: flex;
  justify-content: center;
}
.user-total-spent {
  display:flex;
  justify-content: center;
}

h1 {
  font-size: 40px;
}

.booking-header-container {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background-color: lightgray;
  opacity: .8;
}
.past-bookings-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 7px 7px;
  margin: 2vh 4vw 2vh 4vw;
  overflow: scroll;
}

.room-photo {
  width: 50%;
}
.room-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  opacity: .9;
}
.potential-booking-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.potential-room-booking-container {
 background-color: lightgray;
 height: 80%;
 opacity: .9;
}

.available-rooms-container {
  overflow: scroll;
}

.room-details-photo {
  height: 50%;
}

.room-details-title,
.room-details {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}





